[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
requests = "*"
fpdf = "*"
pillow = "*"
mazelib = {git = "https://github.com/gallamine/mazelib.git", editable = true}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
