<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Random Maze</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!---- Unfurl stuff ---->

  <meta property="og:url" content="https://www.makeamaze.com"/>
  <meta property="og:title" content="Free random mazes"/>
  <meta property="og:description" content="Generate a random maze to print and solve for free."/>
  <meta property="og:site_name" content="Random Maze Generator"/>
  <meta property=”og:image" content="/images/og/default.jpg"/>


  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='https://fonts.googleapis.com/css?family=Overpass Mono' rel='stylesheet'>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23135455-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23135455-2');
</script>
</head>
<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<section class="section">
    <div class="container">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    
</div>
</section>
  <div class="container">
      <h1 class="title">
        Make A Maze
      </h1>
      <p class="subtitle">
        Free printable mazes to solve!
          <a href="/image">Get a maze here.</a>
      </p>
      <p>
        <img src="/image">

      </p>

    </div>
<div class="container">
        <p>
            Sign up to get updates on new things.<br>

            Like:
            <li> maze solutions</li>
            <li> adjustable maze difficulty</li>
    <li> different maze designs and colors</li>
    <li>daily maze emails</li>
        </p>
    <p>
        <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://makeamaze.us19.list-manage.com/subscribe/post?u=d4befb2341950582593be467b&amp;id=045e0c24a2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe for New Things</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d4befb2341950582593be467b_045e0c24a2" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    </p>

      <p>
        Copyright 2020 by William Cox
      </p>

    </div>
</body>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>